$primary: #7749f8;
$primaryDark: #5227cc;
$primaryLight: #ebe5fc;

$secondary: #6C757D;
$secondaryDark: #54595E;
$secondaryLight: #ABB5BE;

$grey100: #F8F9FA;
$grey300: #dee2e6;
$grey700: #495057;
$grey800: #343A40;

$headerText: #152536;

$succes: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8;

$white: #fff;
$black: #000;

$red100: #f8d7da;
$red300: #EA868F;
$red800: #58151C;

$green100: #D1E7DD;
$green300: #75B798;
$green800: #0A3622;